
.Uploads__image {
    border-radius: 8px;
    
    @media (min-width:480px) and (max-width:767px) { 
        margin-left: 16px;
        width: 80vw;
        height: 40vh;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
         width: 50vw;
         height: 30vh;
         margin-left: 36px;
      
    }

    @media(min-width: 1280px) {
        margin-left: 63px;
        width: 30vw;
        height: 32vh;

    }
}


.Uploads__video{
    border-radius: 8px;
    width: 200px;
    height: 300px;
    font-family: Avenir;
      @media (min-width:480px) and (max-width:767px) { 
       
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      
    }

    @media(min-width: 1280px) {
        
        
    }
}


.cancel__button__one {
    border-radius: 8px;
    color: #0095FF;
    font-weight: bold;
    background-color: white ;
    border-color: white ;
    width:150px;
    height:35px;
      @media (min-width:480px) and (max-width:767px) { 
       display: none;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      width:180px;
    }

    @media(min-width: 1280px) {
     width:180px;
     
        
    }
}

.cancel__button__two {
    border-radius: 8px;
    color: #0095FF;
    font-weight: bold;
    background-color: white ;
    border-color: white ;
    width:150px;
    height:35px;
      @media (min-width:480px) and (max-width:767px) { 
      width: 80vw;
       height: 10vh;
       margin-left: 16px;
       margin-bottom: 26px;
       outline: none;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      display: none
    }

    @media(min-width: 1280px) {
        display: none;
        
    }
}




.publish__button {
    border-radius: 8px;
    background-color:#0095FF;
    color: white;
    font-weight: bold;
    border-color: #0095FF;
    width:150px;
    height:35px;
    position: relative;
    
    @media (min-width:480px) and (max-width:767px) { 
       width: 80vw;
       height: 10vh;
       margin-left: 16px;
       margin-bottom: 26px;
       
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      position: relative;
      height:40px;
      width:180px;

      
    }

    @media(min-width: 1280px) {
      position: relative;
      height:40px;
      width:180px;
    }
}

.uploads__label {
        color: lightGray;
        font-weight: bold;
    @media (min-width: 480px) and (max-width: 767px) {
        padding-left: 16px;

    }

    @media (min-width: 768px) and (max-width: 1279px) {
        margin-left: 36px;
        
    }

    @media(min-width: 1280px) {
        margin-left: 36px;
       
    }

}


.uploads__label__title {
    color: lightgrey;
    font-weight: bold;
    font-family: Avenir;

    @media (min-width:480px) and (max-width:767px) { 
       width: 80vw;
       height: 10vh;
       padding-left: 16px;
       margin-bottom: 30px;
       
    }

    @media (min-width: 768px) and (max-width: 1279px) {

     margin-left: 36px;
    //    width: 80vw;
    //    height: 10vh;
        // margin-right: 30px;
        // margin-top: 50px;
        padding-right: 300px;
    }
      
    

    @media(min-width: 1280px) {
    //   margin-left: 63px;
        margin-right: 30px;
        // margin-top: 50px;
        padding-left: 300px;
        
    }
}


.uploads__label__description {
    color: lightgrey;
    font-weight: bold;
    font-family: Avenir;
    @media (min-width:480px) and (max-width:767px) { 
       width: 80vw;
       height: 10vh;
       padding-left: 16px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
       margin-left: 36px;
    //    width: 80vw;
    //    height: 10vh;
        // margin-right: 30px;
        // margin-top: 50px;
        padding-left: 70px;
    }

    @media(min-width: 1280px) {
        margin-right: 30px;
        // margin-top: 50px;
        padding-left: 300px;
}
}


.uploads__comment__box {
    border-radius: 8px;
    background-color:#FAFAFA ;
        border-color: lightgrey;
   
    @media (min-width:480px) and (max-width:767px) { 
        height: 8vh;
        width: 80vw;
        margin-left: 16px;
        padding-right: 16px;
        background-color:#FAFAFA ;
        border-color: lightgrey;
        margin-bottom: 16px;
    }

    @media (min-width: 768px) and (max-width: 1279px) { 
        //  margin-left: 36px; 
        //  height: 8vh;
        //  width: 80vw;
        margin-right: 36px; 
        padding-left: 200px;
        width: 50vw;
        height:5vh;
        // margin-left: 300px;
    }

    @media(min-width: 1280px) {   
        margin-right: 63px;  
        width: 50vw;
        height:5vh;
        margin-left: 300px;
        
    }

}

.uploads__comment__box__description {
      border-radius: 8px;
      background-color:#FAFAFA ;
        border-color: lightgrey;
    @media (min-width:480px) and (max-width:767px) { 
        height: 20vh;
        width: 70vw;
        margin-left: 16px;
        padding-right: 16px;
        margin-bottom: 36px;
        
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        margin-left: 36px;
        height: 20vh;
        width: 70vw;
    }

    @media(min-width: 1280px) {
     width: 50vw;
     height: 20vh;   
    //  margin-right: 63px;
     margin-left: 300px;
     margin-top: 10px;
    }

    }

.heading__text {
    @media(min-width:480px) and (max-width: 767px) {
        padding-left: 16px;
   }
    @media (min-width: 768px) and (max-width: 1279px) {
        margin-left: 36px;
      
    }

    @media(min-width: 1280px) {
        margin-left: 63px;
        
    }

}

.form {

      @media (min-width: 768px) and (max-width: 1279px) {
       
      
    }

      @media(min-width: 1280px) {
        margin-left: 63px;
        
    }
}

.uploads__desktop__container {
      @media(min-width: 1280px) {
       display: flex;
       justify-content: space-between;
    }

}


.buttons__uploads__div {
   @media(min-width: 1280px) {
       display: flex;
       justify-content: right;
       margin-right: 63px;
    }

     @media (min-width: 768px) and (max-width: 1279px) {
      display: flex;
       justify-content: right;
       margin-right: 36px;
      
      
    }    

}

.publish__icon {
   @media(min-width:480px) and (max-width: 767px) {
      
   }


    @media (min-width: 768px) and (max-width: 1279px) {
       position: absolute;
      
      
    }

    @media(min-width: 1280px) {
        position: absolute;
        right: 180px;
        
    }


}