.description__header {
    font-family: Avenir;
}

.description__author{
    font-family: Avenir;
}

.description__date {
    color: gray;
    font-family: Avenir;
}

.description__paragraph{
    font-family: Avenir;
    padding-right: 500px;
    margin-right:500px;
};