.main__video__container {
    background-color: black;
    height: 60%
}

.main__video__image {
    width: 80%;
    height: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}