.main__video__container {
    background-color: black;
    height: 800px;
}

.main__video__image {
    width: 1000px;
    height: 800px;
    text-align: center;
    // padding-left: 500px;
  
    margin-left: auto;
    margin-right: auto;
    display: block;
}