.navbar__button {
    color: white;
    background-color: #0095FF;
    width:150px;
    height:35px;
    font-weight: bold;
    font-family: Avenir;
    border-radius: 6px;
    border-color: #0095FF;
    margin-right: 20px;
    margin-bottom: 5px;
    position: relative;
    top: 0;
    left:0;
    overflow: hidden;

    @media (min-width: 768px) and (max-width: 1279px) {
       
    }
     
    @media (min-width: 480px) and (max-width:767px) {
        width: 80vw;
        height: 10vh;
        padding-left: 16px;
        font-size: larger;
    }
}

.upload {
    position: absolute;
    top: 63px;
    left: 1020px;
}

.navbar__nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    font-size: 33px;
    padding-top: 20px;
    background: lightpink;
    @media (min-width: 768px) and (max-width: 1279px) {
        // display: flex;
        // justify-content: space-around;
        // flex-direction: row;
    }
     
       @media (min-width: 480px) and (max-width:767px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
     
    }
}

.BrainFlix__logo {
    width: 120px;
    height: 25px;
    @media (min-width: 768px) and (max-width: 1279px) {
       
        
    }
  
    @media (min-width: 480px) and (max-width:767px) {
      width: 32vw;
      height: 20vh;
      padding-left: 30%;
  
  
    }
}

.Mohan__nav__placeholder__one {
    height: 40px;
    width:40px;
    border-radius:50%; 

    @media (min-width: 768px) and (max-width: 1279px) {
       
        
       }

       @media (min-width: 480px) and (max-width:767px) {
        // display: none;
        margin-top: 30px
         
        }
}

.Mohan__nav__placeholder__two {
    @media (min-width: 1300px)  {
    display: none;
    
}
    @media (min-width: 768px) and (max-width: 1279px) {
       display: none; 
    }
  

    @media (min-width: 480px) and (max-width:767px) {
    //    display: none;
        width:100px;
        height: 100px;
        border-radius: 50%;
         
        }  
}


img.Mohan__placeholder {
    @media (min-width: 480px) and (max-width:767px) {
       margin-bottom: 80px;
          
    }

}

.search__box {
    // padding-bottom: 10px;
    width: 125px;
    height: 20px;
    // padding-left: 50px;
    // padding-right: 50px;
    margin-right: 100px;
    margin-bottom: 5px;
    position: relative;
    opacity: 55%;
    background-color: #FAFAFA;
    padding-left: 30px;
    padding-top:8px;

    @media (min-width: 768px) and (max-width: 1279px) {
       
        
    }
  
    @media (min-width: 480px) and (max-width:767px) {
    width: 70vw;
    height: 10vh;
  
    }
}

.search__icon {
   padding-top: 26px;
   padding-left:5px;
   position: absolute;

   @media (min-width: 768px) and (max-width: 1279px) {
       
        
}

    @media (min-width: 480px) and (max-width:767px) {
    width: 8vw; 
    padding-left: 20px  
    
}

}

.BrainFlix__second__container {
    // margin-right: 63px;

    @media (min-width: 768px) and (max-width: 1279px) {
       
        
    }
  
    @media (min-width: 480px) and (max-width:767px) {
    margin-left: 24px; 

    }
}

.BrainFlix__first__container {
    // margin-left: 63px;

    @media (min-width: 768px) and (max-width: 1279px) {
       
        
    }
  
    @media (min-width: 480px) and (max-width:767px) {
    
  
  
    }
}


// .BrainFlix__container {

//     @media (min-width: 480px) and (max-width:767px) {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;

// }
// }
