.navbar__button {
    font: 33px;
    color: white;
    background-color: #0095FF;
    width:350px;
    height:80px;
    font-size: 33px;
    // padding-left: 50px;
    // padding-right: 50px;
    font-weight: bold;
    font-family: Avenir;
    border-radius: 10px;
    border-color: #0095FF;
    margin-right: 70px;
    margin-left: 70px;
    
   
}

.navbar__nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    padding-left: 63px;
    padding-right: 63px;
    font-size: 33px;
    background: pink;
    padding-top: 20px;
}

.BrainFlix__logo {
    width: 200px;
    height: 100px;
}

.Mohan__placeholder {
    height: 100px;
    width:100px;
    border-radius:50%;
}

.search__box {
    padding-bottom: 10px;
    width: 400px;
    height:35px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 30px;
}

.search__icon {
    padding-left: 70px;

    // z-index: -80px;

}

.BrainFlix__second__container {
    margin-right: 100px;
}

.BrainFlix__first__container {
    margin-left: 100px;
}