.Comment__button {
    background: #0095FF;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.NewComment__div {
    padding-left: 63px;
   
}

