.Comment__button {
    background: #0095FF;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
}

.NewComment__div {
    padding-left: 63px;
    padding-right: 600px;
    display: flex;
    justify-content: space-between;
}

.new__comment__box {
    padding-right: 150px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #FAFAFA

}

.comment_box_text {
    color: lightgrey;
    font-weight: bold;
    font-family: Avenir;
   
}

.main__div {
    padding-right: 150px;

}

.Mohan__placeholder {
    margin-right: 10px;
    margin-bottom: 24px;
}


.comments__header {
    padding-left: 63px;
    padding-top: 24px;
    padding-bottom: 16px;
}
