.next__videos {
    font-family: Avenir;
    padding-right: 63px;  
    padding-bottom: 24px;  
}

.next__video__image__container {
font-family: Avenir;
padding: 8px;
}

.next__video__image {
    width: 180px;
    height: 110px;
    padding-top: 16px;
    border-radius: 5%;
    float: left;
}


.next__video__text__container {
    font-family: Avenir;
    padding-left: 20px;;
}

.next__video__header {
    font-family: Avenir;
}

.next__video__container {
  display: flex;
  justify-content: space-between;


  @media (min-width: 768px) and (max-width: 1279px) {
   display:flex;
   align-items: right;
   padding-left: 63px;

  }

  @media (min-width: 480px) and (max-width:767px) {
  

  }

  
}



