.next__videos {
    font-family: Avenir;
}


.next__video__image__container {
font-family: Avenir;
// display: inline;
width: 50%;
padding: 8px;


}

.next__video__image {
    width: 250px;
    height: 150px;
    padding-top: 16px;
    padding-bottom: 24px;
    border-radius: 4%;
    float: left;
   
}

.next__video__header {
    font-family: Avenir;

}

.next__video__text__container {
    font-family: Avenir;
    text-align: justify;

}

.next__video__header {
    font-family: Avenir;

}

.next__video__main__container {
      padding-right: 100px;
 
}

